* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 18px;
}

h1 {
    text-align: center;
    padding: 2% 0;
}

h3 {
    text-align: left;
    padding: 2%;
}

h4 {
    padding: 3% 0;
}

 ul {
    list-style-type: none;
    width: 100%;
    
}

.site-container {
    width: 1024px;
    margin: 0 auto;
    height: 100%;
    background-color: #ada8a8;
    padding-bottom: 2%;
    transition: padding 0.5s ease-out;
         
}


#top-section {  
    width: 100%;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.img-container {
    display: inline-block;
    width: auto;
    padding: 0 3%;
}

.contact-info {
    display: inline-block;
    height: auto;
    text-align: left;
    font-weight: 300;
    font-size: 20px;
    line-height: 2.5em;
    padding: 0 3%;
}

.text-block {
    padding: 3%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5em;
}

#summary .site-container {
    background-color: #f0f0f0;
}


